<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ball0.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,328},{60,64}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{60,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ball1.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,80},{60,58}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{60,58}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>ballboy0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1164},{130,130}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{130,130}}</string>
			<key>sourceSize</key>
			<string>{130,136}</string>
		</dict>
		<key>ballboy1.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,1096},{130,130}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,130}}</string>
			<key>sourceSize</key>
			<string>{130,136}</string>
		</dict>
		<key>throwball2.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,1031},{130,130}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{130,130}}</string>
			<key>sourceSize</key>
			<string>{130,136}</string>
		</dict>
		<key>throwball3.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,964},{130,130}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,130}}</string>
			<key>sourceSize</key>
			<string>{130,136}</string>
		</dict>
		<key>withoutballboy4.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,899},{130,130}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{130,130}}</string>
			<key>sourceSize</key>
			<string>{130,136}</string>
		</dict>
		<key>withoutballboy5.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,837},{130,130}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,130}}</string>
			<key>sourceSize</key>
			<string>{130,136}</string>
		</dict>
		<key>btnLevel0.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,1037},{110,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,110}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>btnLevel1.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,969},{110,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,110}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>btnNext0.png</key>
		<dict>
			<key>frame</key>
			<string>{{821,944},{110,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,110}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>btnNext1.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,935},{110,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,110}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>btnReplay0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1099,876},{110,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,110}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>btnReplay1.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,1138},{110,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,110}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>btnSoundon.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,1026},{110,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,110}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>btnsoundoff.png</key>
		<dict>
			<key>frame</key>
			<string>{{853,832},{110,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,110}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>cat_down_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1920,302},{98,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{98,122}}</string>
			<key>sourceSize</key>
			<string>{132,122}</string>
		</dict>
		<key>cat_down_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1920,202},{98,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{98,122}}</string>
			<key>sourceSize</key>
			<string>{132,122}</string>
		</dict>
		<key>cat_down_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1924,102},{98,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{98,122}}</string>
			<key>sourceSize</key>
			<string>{132,122}</string>
		</dict>
		<key>cat_down_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1924,2},{98,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{98,122}}</string>
			<key>sourceSize</key>
			<string>{132,122}</string>
		</dict>
		<key>cat_left_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1906,778},{132,104}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{132,104}}</string>
			<key>sourceSize</key>
			<string>{132,122}</string>
		</dict>
		<key>cat_left_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,831},{132,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{132,102}}</string>
			<key>sourceSize</key>
			<string>{132,122}</string>
		</dict>
		<key>cat_left_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1910,672},{132,104}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{132,104}}</string>
			<key>sourceSize</key>
			<string>{132,122}</string>
		</dict>
		<key>cat_left_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1115,772},{132,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{132,102}}</string>
			<key>sourceSize</key>
			<string>{132,122}</string>
		</dict>
		<key>cat_up_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1249,832},{98,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,2},{98,118}}</string>
			<key>sourceSize</key>
			<string>{132,122}</string>
		</dict>
		<key>cat_up_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1428,798},{98,120}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{98,120}}</string>
			<key>sourceSize</key>
			<string>{132,122}</string>
		</dict>
		<key>cat_up_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1249,832},{98,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,2},{98,118}}</string>
			<key>sourceSize</key>
			<string>{132,122}</string>
		</dict>
		<key>cat_up_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,937},{98,120}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{98,120}}</string>
			<key>sourceSize</key>
			<string>{132,122}</string>
		</dict>
		<key>dog_bone_down_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,532},{86,136}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,4},{86,136}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_bone_down_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,394},{86,136}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,4},{86,136}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_bone_left_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1288,654},{154,106}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,20},{154,106}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_bone_left_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,760},{160,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,20},{160,106}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_bone_right_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1518,330},{156,106}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,20},{156,106}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_bone_right_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,866},{158,106}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,20},{158,106}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_down_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1760,738},{88,144}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,0},{88,144}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_down_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,558},{88,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,0},{88,146}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_down_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1614,670},{88,144}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,0},{88,144}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_down_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,558},{88,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,0},{88,146}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_left_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1668,574},{156,94}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,25},{156,94}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_left_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1298,558},{156,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,26},{156,94}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_left_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1510,536},{156,94}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,25},{156,94}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_left_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1298,558},{156,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,26},{156,94}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_right_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1676,478},{156,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,26},{156,94}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_right_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1518,438},{156,96}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,24},{156,96}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_right_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1298,462},{156,94}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,26},{156,94}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_right_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1518,438},{156,96}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,24},{156,96}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_up_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1910,582},{88,136}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,5},{88,136}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_up_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1910,492},{88,136}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,4},{88,136}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_up_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1910,402},{88,136}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,5},{88,136}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>dog_up_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1910,492},{88,136}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,4},{88,136}}</string>
			<key>sourceSize</key>
			<string>{160,146}</string>
		</dict>
		<key>field.png</key>
		<dict>
			<key>frame</key>
			<string>{{1386,2},{180,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,136}}</string>
			<key>sourceSize</key>
			<string>{180,136}</string>
		</dict>
		<key>flower0.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,379},{66,56}}</string>
			<key>offset</key>
			<string>{7,-38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{73,99},{66,56}}</string>
			<key>sourceSize</key>
			<string>{198,178}</string>
		</dict>
		<key>flower1.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,701},{148,128}}</string>
			<key>offset</key>
			<string>{4,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,40},{148,128}}</string>
			<key>sourceSize</key>
			<string>{198,178}</string>
		</dict>
		<key>flower2.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,394},{178,152}}</string>
			<key>offset</key>
			<string>{2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,18},{178,152}}</string>
			<key>sourceSize</key>
			<string>{198,178}</string>
		</dict>
		<key>flower3.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,80},{198,174}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{198,174}}</string>
			<key>sourceSize</key>
			<string>{198,178}</string>
		</dict>
		<key>flower4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1186,2},{198,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,178}}</string>
			<key>sourceSize</key>
			<string>{198,178}</string>
		</dict>
		<key>grass0.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,220},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>grass1.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,178},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>grass_h1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1456,537},{87,50}}</string>
			<key>offset</key>
			<string>{0,-28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,66},{87,50}}</string>
			<key>sourceSize</key>
			<string>{87,126}</string>
		</dict>
		<key>grass_h2.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,290},{87,56}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,37},{87,56}}</string>
			<key>sourceSize</key>
			<string>{87,126}</string>
		</dict>
		<key>grass_h3.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,793},{83,72}}</string>
			<key>offset</key>
			<string>{2,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,14},{83,72}}</string>
			<key>sourceSize</key>
			<string>{87,126}</string>
		</dict>
		<key>grass_h4.png</key>
		<dict>
			<key>frame</key>
			<string>{{618,710},{81,70}}</string>
			<key>offset</key>
			<string>{1,28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{81,70}}</string>
			<key>sourceSize</key>
			<string>{87,126}</string>
		</dict>
		<key>grass_h5.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,474},{77,82}}</string>
			<key>offset</key>
			<string>{-4,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,8},{77,82}}</string>
			<key>sourceSize</key>
			<string>{87,126}</string>
		</dict>
		<key>grass_h6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1456,462},{73,52}}</string>
			<key>offset</key>
			<string>{-1,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,59},{73,52}}</string>
			<key>sourceSize</key>
			<string>{87,126}</string>
		</dict>
		<key>grass_h7.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,450},{79,22}}</string>
			<key>offset</key>
			<string>{-2,-52}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,104},{79,22}}</string>
			<key>sourceSize</key>
			<string>{87,126}</string>
		</dict>
		<key>grass_v1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1676,330},{146,52}}</string>
			<key>offset</key>
			<string>{0,-24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,65},{146,52}}</string>
			<key>sourceSize</key>
			<string>{146,134}</string>
		</dict>
		<key>grass_v2.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,142},{146,56}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,37},{146,56}}</string>
			<key>sourceSize</key>
			<string>{146,134}</string>
		</dict>
		<key>grass_v3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1284,762},{142,68}}</string>
			<key>offset</key>
			<string>{-1,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,14},{142,68}}</string>
			<key>sourceSize</key>
			<string>{146,134}</string>
		</dict>
		<key>grass_v4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1444,728},{142,68}}</string>
			<key>offset</key>
			<string>{-2,33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,68}}</string>
			<key>sourceSize</key>
			<string>{146,134}</string>
		</dict>
		<key>grass_v5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1826,598},{138,82}}</string>
			<key>offset</key>
			<string>{-2,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,8},{138,82}}</string>
			<key>sourceSize</key>
			<string>{146,134}</string>
		</dict>
		<key>grass_v6.png</key>
		<dict>
			<key>frame</key>
			<string>{{635,514},{140,54}}</string>
			<key>offset</key>
			<string>{-1,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,58},{140,54}}</string>
			<key>sourceSize</key>
			<string>{146,134}</string>
		</dict>
		<key>grass_v7.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,314},{134,22}}</string>
			<key>offset</key>
			<string>{-1,-55}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,111},{134,22}}</string>
			<key>sourceSize</key>
			<string>{146,134}</string>
		</dict>
		<key>jetDown0.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,664},{94,164}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{94,164}}</string>
			<key>sourceSize</key>
			<string>{94,170}</string>
		</dict>
		<key>jetDown1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1146,340},{94,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{94,168}}</string>
			<key>sourceSize</key>
			<string>{94,170}</string>
		</dict>
		<key>jetDown2.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,658},{94,164}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{94,164}}</string>
			<key>sourceSize</key>
			<string>{94,170}</string>
		</dict>
		<key>jetDown3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1146,340},{94,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{94,168}}</string>
			<key>sourceSize</key>
			<string>{94,170}</string>
		</dict>
		<key>jetSide0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1346,298},{170,162}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{170,162}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>jetSide1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1566,162},{170,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,166}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>jetSide2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1738,314},{170,162}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{170,162}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>jetSide3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1748,146},{170,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,166}}</string>
			<key>sourceSize</key>
			<string>{170,166}</string>
		</dict>
		<key>jetUp0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1456,632},{94,156}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{94,156}}</string>
			<key>sourceSize</key>
			<string>{94,170}</string>
		</dict>
		<key>jetUp1.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,868},{94,158}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,158}}</string>
			<key>sourceSize</key>
			<string>{94,170}</string>
		</dict>
		<key>jetUp2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1456,632},{94,156}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{94,156}}</string>
			<key>sourceSize</key>
			<string>{94,170}</string>
		</dict>
		<key>jetUp3.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,706},{94,158}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,158}}</string>
			<key>sourceSize</key>
			<string>{94,170}</string>
		</dict>
		<key>kennel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,314},{178,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,194}}</string>
			<key>sourceSize</key>
			<string>{178,194}</string>
		</dict>
		<key>largeDown0.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,172},{70,198}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,29},{70,198}}</string>
			<key>sourceSize</key>
			<string>{76,230}</string>
		</dict>
		<key>largeDown1.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,166},{70,198}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,31},{70,198}}</string>
			<key>sourceSize</key>
			<string>{76,230}</string>
		</dict>
		<key>largeDown2.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,250},{70,196}}</string>
			<key>offset</key>
			<string>{0,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,34},{70,196}}</string>
			<key>sourceSize</key>
			<string>{76,230}</string>
		</dict>
		<key>largeDown3.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,94},{70,198}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,31},{70,198}}</string>
			<key>sourceSize</key>
			<string>{76,230}</string>
		</dict>
		<key>largeDown4.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,178},{70,196}}</string>
			<key>offset</key>
			<string>{0,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,34},{70,196}}</string>
			<key>sourceSize</key>
			<string>{76,230}</string>
		</dict>
		<key>largeSide0.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,256},{178,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{178,156}}</string>
			<key>sourceSize</key>
			<string>{178,160}</string>
		</dict>
		<key>largeSide1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1568,2},{178,158}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{178,158}}</string>
			<key>sourceSize</key>
			<string>{178,160}</string>
		</dict>
		<key>largeSide2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,572},{176,158}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{176,158}}</string>
			<key>sourceSize</key>
			<string>{178,160}</string>
		</dict>
		<key>largeSide3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1166,182},{178,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{178,156}}</string>
			<key>sourceSize</key>
			<string>{178,160}</string>
		</dict>
		<key>largeSide4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1386,140},{178,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{178,156}}</string>
			<key>sourceSize</key>
			<string>{178,160}</string>
		</dict>
		<key>largeUp0.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,2},{76,218}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{76,218}}</string>
			<key>sourceSize</key>
			<string>{76,230}</string>
		</dict>
		<key>largeUp1.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,2},{76,220}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{76,220}}</string>
			<key>sourceSize</key>
			<string>{76,230}</string>
		</dict>
		<key>largeUp2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,158},{76,222}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,222}}</string>
			<key>sourceSize</key>
			<string>{76,230}</string>
		</dict>
		<key>largeUp3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,236},{76,220}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{76,220}}</string>
			<key>sourceSize</key>
			<string>{76,230}</string>
		</dict>
		<key>largeUp4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,80},{76,222}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,222}}</string>
			<key>sourceSize</key>
			<string>{76,230}</string>
		</dict>
		<key>pause0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1720,828},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>pause1.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,867},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>poo.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,414},{52,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,48}}</string>
			<key>sourceSize</key>
			<string>{52,48}</string>
		</dict>
		<key>pool.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,2},{236,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,174}}</string>
			<key>sourceSize</key>
			<string>{236,174}</string>
		</dict>
		<key>restore0.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,80},{218,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,90}}</string>
			<key>sourceSize</key>
			<string>{218,90}</string>
		</dict>
		<key>restore1.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,2},{218,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,90}}</string>
			<key>sourceSize</key>
			<string>{218,90}</string>
		</dict>
		<key>scoreboard.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{282,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{282,76}}</string>
			<key>sourceSize</key>
			<string>{282,76}</string>
		</dict>
		<key>smallDown0.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,586},{70,176}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{70,176}}</string>
			<key>sourceSize</key>
			<string>{76,188}</string>
		</dict>
		<key>smallDown1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1748,74},{70,174}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{70,174}}</string>
			<key>sourceSize</key>
			<string>{76,188}</string>
		</dict>
		<key>smallDown2.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,514},{70,176}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{70,176}}</string>
			<key>sourceSize</key>
			<string>{76,188}</string>
		</dict>
		<key>smallDown3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1748,2},{70,174}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,7},{70,174}}</string>
			<key>sourceSize</key>
			<string>{76,188}</string>
		</dict>
		<key>smallDown4.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,592},{70,174}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,8},{70,174}}</string>
			<key>sourceSize</key>
			<string>{76,188}</string>
		</dict>
		<key>smallSide0.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,754},{143,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{143,160}}</string>
			<key>sourceSize</key>
			<string>{143,162}</string>
		</dict>
		<key>smallSide1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,876},{143,158}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{143,158}}</string>
			<key>sourceSize</key>
			<string>{143,162}</string>
		</dict>
		<key>smallSide2.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,558},{141,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{141,162}}</string>
			<key>sourceSize</key>
			<string>{143,162}</string>
		</dict>
		<key>smallSide3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1021},{141,158}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{141,158}}</string>
			<key>sourceSize</key>
			<string>{143,162}</string>
		</dict>
		<key>smallSide4.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,692},{143,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{143,160}}</string>
			<key>sourceSize</key>
			<string>{143,162}</string>
		</dict>
		<key>smallUp0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,494},{76,182}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{76,182}}</string>
			<key>sourceSize</key>
			<string>{76,188}</string>
		</dict>
		<key>smallUp1.png</key>
		<dict>
			<key>frame</key>
			<string>{{714,316},{76,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{76,186}}</string>
			<key>sourceSize</key>
			<string>{76,188}</string>
		</dict>
		<key>smallUp2.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,244},{76,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,188}}</string>
			<key>sourceSize</key>
			<string>{76,188}</string>
		</dict>
		<key>smallUp3.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,322},{76,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{76,186}}</string>
			<key>sourceSize</key>
			<string>{76,188}</string>
		</dict>
		<key>smallUp4.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,238},{76,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,188}}</string>
			<key>sourceSize</key>
			<string>{76,188}</string>
		</dict>
		<key>steam0.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,262},{48,34}}</string>
			<key>offset</key>
			<string>{0,-25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,69},{48,34}}</string>
			<key>sourceSize</key>
			<string>{60,122}</string>
		</dict>
		<key>steam1.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,468},{46,44}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,47},{46,44}}</string>
			<key>sourceSize</key>
			<string>{60,122}</string>
		</dict>
		<key>steam2.png</key>
		<dict>
			<key>frame</key>
			<string>{{635,656},{52,54}}</string>
			<key>offset</key>
			<string>{0,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,27},{52,54}}</string>
			<key>sourceSize</key>
			<string>{60,122}</string>
		</dict>
		<key>steam3.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,356},{56,42}}</string>
			<key>offset</key>
			<string>{2,25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,15},{56,42}}</string>
			<key>sourceSize</key>
			<string>{60,122}</string>
		</dict>
		<key>steam4.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,312},{42,30}}</string>
			<key>offset</key>
			<string>{-2,46}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{42,30}}</string>
			<key>sourceSize</key>
			<string>{60,122}</string>
		</dict>
		<key>strawberry0.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,238},{88,50}}</string>
			<key>offset</key>
			<string>{-2,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{40,33},{88,50}}</string>
			<key>sourceSize</key>
			<string>{172,130}</string>
		</dict>
		<key>strawberry1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1834,478},{118,74}}</string>
			<key>offset</key>
			<string>{-4,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,18},{118,74}}</string>
			<key>sourceSize</key>
			<string>{172,130}</string>
		</dict>
		<key>strawberry2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1588,760},{130,88}}</string>
			<key>offset</key>
			<string>{-4,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,13},{130,88}}</string>
			<key>sourceSize</key>
			<string>{172,130}</string>
		</dict>
		<key>strawberry3.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,670},{160,104}}</string>
			<key>offset</key>
			<string>{-1,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{160,104}}</string>
			<key>sourceSize</key>
			<string>{172,130}</string>
		</dict>
		<key>truckDown0.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,496},{94,178}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{94,178}}</string>
			<key>sourceSize</key>
			<string>{94,182}</string>
		</dict>
		<key>truckDown1.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,400},{94,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,182}}</string>
			<key>sourceSize</key>
			<string>{94,182}</string>
		</dict>
		<key>truckDown2.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,418},{94,178}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{94,178}}</string>
			<key>sourceSize</key>
			<string>{94,182}</string>
		</dict>
		<key>truckDown3.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,322},{94,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,182}}</string>
			<key>sourceSize</key>
			<string>{94,182}</string>
		</dict>
		<key>truckSide0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1134,436},{142,162}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{142,162}}</string>
			<key>sourceSize</key>
			<string>{142,166}</string>
		</dict>
		<key>truckSide1.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,548},{142,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,166}}</string>
			<key>sourceSize</key>
			<string>{142,166}</string>
		</dict>
		<key>truckSide2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,732},{142,162}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{142,162}}</string>
			<key>sourceSize</key>
			<string>{142,166}</string>
		</dict>
		<key>truckSide3.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,414},{142,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,166}}</string>
			<key>sourceSize</key>
			<string>{142,166}</string>
		</dict>
		<key>truckUp0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1130,676},{94,152}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{94,152}}</string>
			<key>sourceSize</key>
			<string>{94,182}</string>
		</dict>
		<key>truckUp1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1130,580},{94,156}}</string>
			<key>offset</key>
			<string>{0,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,156}}</string>
			<key>sourceSize</key>
			<string>{94,182}</string>
		</dict>
		<key>truckUp2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1130,676},{94,152}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{94,152}}</string>
			<key>sourceSize</key>
			<string>{94,182}</string>
		</dict>
		<key>truckUp3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1130,580},{94,156}}</string>
			<key>offset</key>
			<string>{0,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,156}}</string>
			<key>sourceSize</key>
			<string>{94,182}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>game_atlas-hd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bae968f054da30550ef46b4ab8e31fbd$</string>
		<key>textureFileName</key>
		<string>game_atlas-hd.png</string>
	</dict>
</dict>
</plist>
