<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>path</key>
	<string>350/0/350/225/325/225/325/25/300/25/300/225/275/225/275/25/250/25/250/225/225/225/225/25/200/25/200/225/50/225/50/25/175/25/175/50/75/50/75/75/175/75/175/100/75/100</string>
	<key>objects</key>
	<dict>
		<key>gardenBed</key>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>position</key>
			<string>430/220</string>
		</dict>
		<key>kennel</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>430/100</string>
		</dict>
		<key>waterPool</key>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>position</key>
			<string>125/175</string>
		</dict>
		<key>rock</key>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>position</key>
			<string>200/200</string>
		</dict>
	</dict>
</dict>
</plist>
