<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dogPosition</key>
	<string>300/25</string>
	<key>path</key>
	<string>150/250/150/25/175/25/175/225/200/225/200/25/450/25/450/50/225/50/225/75/450/75/450/225/425/225/425/100/400/100/400/225/375/225/375/100/350/100/350/225/225/225/225/200/325/200</string>
	<key>objects</key>
	<dict>
		<key>gardenBed</key>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>position</key>
			<string>70/220</string>
		</dict>
		<key>kennel</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>70/75</string>
		</dict>
		<key>waterPool</key>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>position</key>
			<string>275/150</string>
		</dict>
	</dict>
</dict>
</plist>
