<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dogPosition</key>
	<string>225/200</string>
	<key>path</key>
	<string>50/250/50/25/75/25/75/225/100/225/100/25/125/25/125/225/350/225/350/200/150/200/150/175/350/175/350/150/150/150/150/125/350/125/350/25/325/25/325/100/300/100/300/25/275/25/275/100</string>
	<key>objects</key>
	<dict>
		<key>gardenBed</key>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>position</key>
			<string>430/220</string>
		</dict>
		<key>kennel</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>430/75</string>
		</dict>
		<key>waterPool</key>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>position</key>
			<string>200/75</string>
		</dict>
	</dict>
</dict>
</plist>
