<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back0.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{228,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,56}}</string>
                <key>sourceSize</key>
                <string>{228,56}</string>
            </dict>
            <key>back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,56}}</string>
                <key>sourceSize</key>
                <string>{228,56}</string>
            </dict>
            <key>level0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{162,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,206}}</string>
                <key>sourceSize</key>
                <string>{162,206}</string>
            </dict>
            <key>level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{162,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,206}}</string>
                <key>sourceSize</key>
                <string>{162,206}</string>
            </dict>
            <key>levelLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,60},{162,162}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level_atlas-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e94d9353be7385246b29ebf28d4193c$</string>
            <key>textureFileName</key>
            <string>level_atlas-hd.png</string>
        </dict>
    </dict>
</plist>
