<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>path</key>
	<string>50/150/50/25/75/25/75/125/100/125/100/25/125/25/125/125/150/125/150/25/175/25/175/225/350/225/350/200/200/200/200/175/350/175/350/150/200/150/200/125/350/125/350/100/200/100/200/75/350/75/350/50/200/50/200/25/350/25</string>
	<key>objects</key>
	<dict>
		<key>gardenBed</key>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>position</key>
			<string>430/220</string>
		</dict>
		<key>kennel</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>430/100</string>
		</dict>
		<key>waterPool</key>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>position</key>
			<string>100/200</string>
		</dict>
		<key>rock</key>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>position</key>
			<string>200/200</string>
		</dict>
	</dict>
</dict>
</plist>
