<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dogPosition</key>
	<string>375/150</string>
	<key>path</key>
	<string>450/0/450/225/425/225/425/25/400/25/400/225/375/225/375/25/350/25/350/225/325/225/325/25/300/25/300/225/150/225/150/25/275/25/275/50/175/50/175/75/275/75/275/100/175/100</string>
	<key>objects</key>
	<dict>
		<key>gardenBed</key>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>position</key>
			<string>70/220</string>
		</dict>
		<key>kennel</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>70/75</string>
		</dict>
		<key>waterPool</key>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>position</key>
			<string>225/175</string>
		</dict>
	</dict>
</dict>
</plist>
