<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dogPosition</key>
	<string>225/150</string>
	<key>path</key>
	<string>25/225/350/225/350/200/50/200/50/175/350/175/350/150/50/150/50/125/350/125/350/100/50/100/50/75/350/75/350/50/50/50/50/25/350/25</string>
	<key>objects</key>
	<dict>
		<key>gardenBed</key>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>position</key>
			<string>430/220</string>
		</dict>
		<key>kennel</key>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>position</key>
			<string>430/75</string>
		</dict>
	</dict>
</dict>
</plist>
